@charset "UTF-8";

main{
    background-color: lightpink;
}
.espaço{
    position: relative;
    background-image: url(espaco.jpg);
    background-size: contain;

    max-width: 100%;
    max-height: 100%;
}
.astronauta{
    position: absolute;

    max-width: 200px;
    min-width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
